*{
    margin: 0;
    padding: 0;
}
.sectionone{
    height: 100vh;
    width: 100vw;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(./background_img.jpg);
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionone h1{
    font-style: italic;
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}
.sectionone li{
    list-style: disc;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
    color: aqua;
    margin-top: 15px;
    font-style: italic;
}
.sectionone p{
    font-style: italic;
    font-size: 38px;
    font-weight: bolder;
    color: white;
    margin-top: 10px;
}
.sectionone span{
    color: aqua;
    font-size: 30px;
}
/* END OF SECTION ONE */

/* START OF SECTION TWO */
.sectiontwo{
    height: 120vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.sectiontwo .maindiv{
    height: 90%;
    width: 90%;
    /* background-color: gray; */
}
.sectiontwo .first{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif,"sans-serif";
}
.sectiontwo .second{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif,"sans-serif";
}
.sectiontwo .third{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif,"sans-serif";
}
.third li{
    font-style: italic;
    color: gray;
}
.sectiontwo .fourth{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif,"sans-serif";
}
.fav ol{
    margin-left: 70px;
    color: aqua;
    font-style: italic;
}
.fav a{
    font-style: italic;
    font-size: 18px;
    color: aqua;
    text-decoration: none;
}
.fav ul{
    margin-left: 70px;
}
.fav a:hover{
    color: #fff;
    text-decoration: underline;
}
.fifth{
    margin-top: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.bandmember{
    margin-top: 70px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bandmember .bien{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: row;
}
.bandmember .willis{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: row;
}
.bandmember .savara{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: row;
}
.bandmember .polycarp{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: row;
}
.bandmember img{
    margin-right: 10px;
    border-radius: 50%;
}
.bandmember p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.3;
}
/* END OF SECTION TWO */

/* START OF SECTION THREE */
.sectionthree{
    height: 50vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionthree .footer{
    height: 90%;
    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
}
.footer .mainpart{
    height: 80%;
    width: 100%;
    background-color: #130909;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.mainpart .logo{
    height: 100%;
    width: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px gray;
}
.logo img{
    height: 250px;
    width: 250px;
    
}
.mainpart .call4action{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid 1px gray;
}
.call4action p{
    margin-bottom: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: -67px;
}
.call4action input{
    height: 30px;
    width: 80%;
    border: solid 1px gray;
    border-radius: 5px;
}
.call4action ::placeholder{
    color: #000;
    padding-left: 20px;
}
.call4action button{
    padding: 8px 20px;
    margin: none;
    border: solid 2px white;
    color: white;
    border-radius: 25px;
    background-color: transparent;
    margin-left: -190px;
    transition: 1ms;
}
.call4action button:hover{
    background-color: white;
    color: black;
    transform: scale(1.07);
    font-weight: 600;
    cursor: pointer;
}
.mainpart .socialmedia{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 1px gray;
}
.links img{
    margin-top: 30px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    transition: 50ms;
}
.links img:hover{
    border: solid 2px aqua;
    background-color: transparent; 
}
.socialmedia p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.mainpart .contacts{
    height: 100%;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.links a {
    text-decoration: none;
}
.contacts .reach{
    margin-bottom: 20px;
    margin-left: -75px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact a{
    text-decoration: none;
    color: white;
    font-style: italic;
   line-height: 1.5;
}
.contacts a:hover{
    text-decoration: underline;
    color: aqua;
}
.contact .tel{
    margin-top: 10px;
    cursor: pointer;
}
.footer {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
/* END OF SECTION THREE */
/* LET'S ENJOY THE WEEKEND */